<main>
    <h1>
        <i class="fa-brands fa-github"></i>
        Welcome to Chess Archives
    </h1>

    <p>
        This page is to let you know who developed this web application <br>
        To know more about the developer of this web application, <br>
        Kindly click the buttons below: <br>
    </p>

    <div class="get-started">
        <a href="https://www.github.com/migslahorra">
            <i class="fa-brands fa-github"></i> 
            Github Profile
        </a>

        <a href="">
            <i class="fa-solid fa-briefcase"></i> 
            Dev Portfolio
        </a>
    </div>
</main>