<main>
    <h1>
        <i class="fa-solid fa-chess-board"></i>
        Welcome to Chess Archives
    </h1>

    <p>
        Chess Archives is a web application for chess players and enthusiasts! <br>
        You can upload your games and moments playing chess and share it with <br>
        the chess world! Join now in our community! <br>
    </p>

    <div class="get-started">
        <a routerLink="/signup">
            <i class="fa-solid fa-user-plus"></i> 
            Get Started
        </a>

        <a routerLink="/signin">
            <i class="fa-solid fa-sign-in-alt"></i> 
            Sign In
        </a>
    </div>
</main>